[submodule "nvim"]
	path = nvim
	url = git@github.com:dazemc/nvim_config.git
[submodule "tmux/.tmux/plugins/tmux-battery"]
	path = tmux/.tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/.tmux/plugins/tmux-cpu"]
	path = tmux/.tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "tmux/.tmux/plugins/tmux-df"]
	path = tmux/.tmux/plugins/tmux-df
	url = https://github.com/tassaron/tmux-df
[submodule "tmux/.tmux/plugins/tmux-online-status"]
	path = tmux/.tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule "tmux/.tmux/plugins/tmux-ping"]
	path = tmux/.tmux/plugins/tmux-ping
	url = https://github.com/ayzenquwe/tmux-ping.git
[submodule "tmux/.tmux/plugins/tmux-prefix-highlight"]
	path = tmux/.tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
